.benefit {
    background-image: url('../images/Ellipse\ 10.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 250px;
    padding: 150px 0;
}
.benefit_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .benefit_left_img {
        max-width: 650px;
        position: relative;

        .left_bene_card {
            position: absolute;
            bottom: 50px;
            left: -40px;
            padding: 35px 40px;
            background: #FFFFFF;
            box-shadow: -12px 16px 46px rgba(0, 0, 0, 0.08);
            border-radius: 20px;

            display: flex;
            flex-direction: column;
            gap: 5px;

            h4 {
                font-weight: 600;
                font-size: 20px; 
                color: #021112;   
            }

            h6 {
                color: #CCCFD0;
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 10px;
            }

            .images_bene {
                display: flex;
                gap: 10px;

                img {
                    max-width: 55px;
                    border-radius: 5px;
                }

                button {
                    padding: 10px 20px;
                    font-size: 20px;
                    background: #F93633;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;

                    &:hover {
                        background: #905554;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    .benefit_right_img {
        display: flex;
        flex-direction: column;
        gap: 60px;

        h3 {
            font-weight: 700;
            font-size: 50px;
            color: #021112;
        }

        .benes {
            display: flex;
            gap: 30px;
            align-items: center;

            .bene_icon {
                padding: 25px 35px;
                background: #FBFCED;
                border-radius: 10px;

                img {
                    max-width: 50px;
                }
            }

            .bene_info {
                display: flex;
                flex-direction: column;
                gap: 15px;

                h5 {
                    color: #021112;
                    font-weight: 600;
                    font-size: 36px;
                }

                p {
                    color: #677071;
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 1350px) {
        flex-wrap: wrap;
    }

    @media (max-width: 730px) {
        .benefit_left_img {
            .left_bene_card {
                left: 5%;
                padding: 25px;
            }
        }
        .benefit_right_img {
            h3 {
                font-size: 26px;
            }

            .benes {
                .bene_icon {
                    max-width: 30px;
                    padding: 5px;
                }

                .bene_info {
                    h5 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}