.customer {
    background: #FDF6ED;
    position: relative;
    margin-bottom: 50px;

    .customer_cont {
        display: flex;
        justify-content: end;
        gap: 50px;
        padding: 100px 0;

        .whbro {
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 650px;
        }

        .client {
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;

            h5 {
                color: #13A6BA;
                font-weight: 400;
                font-size: 18px;
            }

            h3 {
                font-weight: 700;
                font-size: 58px;
                color: #021112;
                line-height: 91px;
                max-width: 690px;
                margin-bottom: 40px;
            }

            h6 {
                font-weight: 400;
                font-size: 24px;
                color: #021112;
                line-height: 42px;
                max-width: 690px;
                margin-bottom: 50px;
            }

            h4 {
                font-weight: 700;
                font-size: 24px;
            }
            p {
                font-weight: 400;
                font-size: 18px;
                color: #677071;
            }

            .right_client {
                position: absolute;
                right: -30px;
                top: -50px;
                max-width: 150px;
            }

            .left_client {
                position: absolute;
                left: -120px;
                top: 70px;
                max-width: 150px;
                max-width: 70px;
            }
        }

        @media (max-width: 1400px) {
            align-items: center;
            padding: 0;
            .whbro {
                position: static;
            }
        }

        @media (max-width: 1250px) {
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px;
        }

        @media (max-width: 950px) {
            .client {
                .right_client {
                    position: static;
                }

                .left_client {
                    display: none;
                }
            }
        }
    }
}