@import url(https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;200;300;400;500;600;700&display=swap);

body {
  font-family: 'Noto Serif', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}


/*! navbar */

.navshow {
    background: #FBEDDA;
}

.navbar_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;


    &_logo {
        width: 95px;
    }

    
    &_ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        color: #021112;
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;

        & li:hover {
            color: #963232;
        }

        button {
            padding: 15px 30px;
            margin-left: 100px;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 16px;
            background: #13A6BA;
            border-radius: 8px;
            cursor: pointer;
            border: none;
    
            &:hover {
                background: #777345;
                color: #FFFFFF;
            }
        }
    }

    

    &_burger {
        display: none;
    }

    &_radio {
        display: none;
    }

    @media (max-width: 730px) {
        &_ul {
            position: fixed;
            right: -200%;
            top: 70px;
            background-color: #52503bd3;
            transition: ease-in-out 3s;
            font-size: 16px;
            flex-direction: column;
            color: #FFF;
            align-items: center;
            gap: 50px;
            padding: 50px 0;

            button {
                margin-left: 0;
            }
        }

        &_burger {
            display: block;
            color: #000;
            font-size: 22px;
        }

        #ham:checked + ul {
            right: 0;
            left: 0;
            width: 100%;
        }
    }
}

/*! end of navbar */

/* showcase */

.showcase_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0 25px;

    h2 {
        font-weight: 800;
        font-size: 80px;
        color: #021112;
        line-height: 105px;
        text-align: center;
        max-width: 988px;
    }

    p {
        color: #677071;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
    }

    @media (max-width: 930px) {
        h2 {
            font-size: 46px;
            line-height: normal;
        }
        p {
            font-size: 16px;
        }
    }

    .showcard {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        padding: 45px 50px;

        ul {
            display: flex;
            gap: 90px;
            padding-bottom: 25px;

            li {
                font-weight: 600;
                font-size: 26px;
                color: #CCCFD0;
                cursor: pointer;

                &:hover {
                    color: #021112;
                }
            }
        }

        .bottom_shows {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            border-top: 1px solid #E0E2E3;
            padding-top: 25px;
            
            button {
                padding: 26px 55px;
                color: #FFFFFF;
                font-weight: 600;
                font-size: 28px;
                background: #13A6BA;
                border-radius: 8px;
                cursor: pointer;
                border: none;
                max-height: 83px;
                max-width: 206px;
        
                &:hover {
                    background: #777345;
                    color: #FFFFFF;
                }
            }

            .location {
                color: #677071;
                margin-bottom: 10px;

                i {
                    color: #13A6BA;
                }
            }

            h3 {
                color: #021112;
                font-weight: 600;
                font-size: 36px;
            }

            .bottom_show:nth-of-type(2) {
                padding: 0 50px ;
                border-left: 1px solid #CFCCCC;
                border-right: 1px solid #CFCCCC;
            }

        }

        @media (max-width: 930px) {
            .bottom_shows {
                flex-direction: column;
                align-items: left;

                .bottom_show:nth-of-type(2) {
                    padding: 0;
                    border: 0;
                }
            }
        }

        @media (max-width: 480px) {
            padding: 25px;
            ul {
                gap: 45px;
            }
        }
    }
}